html, body {
  padding: 0;
  margin: 0;
  height: 1000px;
  width: 1000px;
}

body {
  background:aquamarine;
  color: #c8c3bf;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  size: 14px;
  width: 1000px;
  height: 1000px;
  padding-left: 0%;
}

.container {
  height: 1000px;
  width: 1000px;
  display:flex;
  background: aquamarine;
  color: black;
  display:flex;
}

.tekstblok1 {
  width: 1000px; 
  height: 900px;
  background: red;
  color: black; 
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 300px;
  margin-right: 0px;
}    

.tekstblok2 {
  width: 1000px; 
  height: 505px;
  margin-left:320px;
  margin-right:0px;
  padding: 0px;
  background: white;
  color: black;
  text-align: center;
  float:right;
}

.tekstblok3 {
  width: 5000px; 
  height: 800px;
  background: purple;
  color: black; 
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 200px;
}    

.tekstblok4 {
  width: 5000px; 
  height: 800px;
  background: blue;
  color: black; 
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 200px;
}        

.tekstblok5 {
  width: 5000px; 
  height: 800px;
  background: yellow;
  color: black; 
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 200px;
}      

.textblok1 p {
  margin: 200px;
  padding: 100px;
}

p {
  color: yellowgreen;
  margin-left: 100px; 
}

h2 {
  font-size: 30px;
  color:black;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 18px;
  color:black;
   margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 50px;
  color:black;
  margin-left: 10px;
  margin-right: 10px;
}

.share {
  border: 1px solid white;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

.share a {
  background: black;
  border: 1px solid white;
  border-radius: 1px;
  color: white;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}

.share a:hover {
  background: black;
  border: 2px solid white;
  color: red;
  margin: 5000;
}
